.WeatherInfo h1 {
  font-family: "Fira Sans", sans-serif;
  font-size: 40px;
  margin-bottom: 5px;
}

.WeatherInfo h2 {
  font-family: "Fira Sans", sans-serif;
  font-size: 36px;
  margin-bottom: 0;
}

.WeatherInfo .units {
  font-family: "Merriweather", serif;
  font-size: 13px;
  position: relative;
  bottom: 16px;
}

.WeatherInfo .units a {
  font-weight: 700;
  color: black;
  opacity: 0.7;
  text-decoration: none;
}

.WeatherInfo .weather-icon {
  color: #ffca2d;
  font-size: 60px;
  position: relative;
  bottom: 6px;
}

.WeatherInfo li {
  opacity: 0.8;
}

.WeatherInfo .high-low-temps {
  font-size: 14px;
  opacity: 0.8;
}

.WeatherInfo .result {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
